.deleteBtn {
    cursor: pointer;
    background-color: #ff6666;
    outline: #ff4d4d;
    color: white;
}
.deleteBtn:hover {
    background-color: #ff4d4d;
}
.viewBtn:hover {
    color: black;
}
.card {
    margin-top: 20px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 5px 5px 10px black;
}
.bookImg {
    text-align: center;
    margin-top: 20px;
}