.deleteBtn {
    cursor: pointer;
}

.card {
    margin-top: 20px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 5px 5px 10px black;
}

.bookImg {
    text-align: center;
    margin-top: 20px;
}